* {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: .2em;
}

.textarea-container div {
  flex: 1;
  height: calc(100% - 10em);
}

textarea {
  font-size: 1.25em;
  height: 100%;
  width: 98%;
  margin: 3px;
  resize: none;
  padding: .1em;
}

.form-group {
  display: flex;
  align-items: center;
  margin-left: .2em;
  margin-right: .2em;
}

textarea#input-text {
  resize: none;
}

button {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  padding: .375rem .75rem;
  border-radius: .25rem;
  transition: color .15s;
}

button:hover {
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

@media screen and (max-width: 500px) {
  .textarea-container {
    flex-direction: column;
    height: inherit;
  }

  .textarea-container div {
    width: 100%;
    margin: .1em;
    height: calc(100% - 26em);
  }

  button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 40px;
  }
}
